*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}

/*Padrões*/
h2{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: bolder;
    line-height: 32px;
    font-weight: 700;
    color:rgb(62, 62, 62);
}

a{
    text-decoration: none;
    list-style-type: none;
}

p{
    text-align: center;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 22px;
    color: #888888;
    margin-top: 30px;
    margin-bottom: 60px;
}
/*Fim Padrões*/


/*Header*/
#container-header{
    height: 40em;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgba(0,0,0, 0.7)), url("../img/background.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 90%;
    display: flex;
    flex-direction: column;

}

header{
    width: 50vh;
    height: max-content;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    height: 10em;
    padding: 10px;
}

nav{
    width: 30vh;
    border: 1px solid black;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    height: max-content;
    z-index: 1;
    margin-top: 15px;
}

nav a ul{
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
}

nav a ul li{
    padding: 10px;
    font-family: "Open Sans", sans-serif;
}
nav a ul:hover{
    background-color: #3E3E3E;
    opacity: 75%;
    border-radius: 5px;
}

#menu{
    display: none;
}

input{
    display: none;
}
input:checked ~ #menu{
    display: inline;
}

ion-icon{
    font-size: 64px;
    margin: 0px;
    padding: 0px;
    color: orange;
}

label{
    margin: 0px;
    display: flex;
    padding: 0px;
    height: max-content;
}

#apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
}


#apresentacao h1{
    font-size: 90px;
    font-family: Helvetica;
    color: white;
    
}

#apresentacao p{
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    padding: 0.9em;
    line-height: 0.5em; 
    border-radius: 10px;
    background-color: black;
    opacity: 80%;
}

#apresentacao button{
    padding: 15px 40px;
    font-size: 18px;
    border: 1px solid #383027;
    background: none;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
}

#apresentacao button a {
    color: white;
}

#apresentacao button:hover{
    cursor: pointer;
    background-color: black;
    opacity: 80%;
}
/*Fim Header*/


/*Portflio*/
#container-portflio{
    padding: 40px 60px 60px 60px;
    display: flex;
    flex-direction: column;
}

#sites{
    display: flex;
    justify-content: space-between;
}

.portflio{
    width: 380px;
    height: 350px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 5px;
}

#container-portflio p{
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 2em;

}
.portflio img{
    width: 100%;
    cursor: pointer;
}

.portflio::-webkit-scrollbar-track{
   --webkit-box-shadow: inset 0 0 6px rgba(0,0,0, 0.3);
   border-radius: 10px;
    background-color: #f5f5f5;
}

.portflio::-webkit-scrollbar{
    width: 7px;
    background-color: #f5f5f5;
}

.portflio::-webkit-scrollbar-thumb{
    border-radius: 10px;
    --webkit-box-shadow: inset 0 0 6px rgba(0,0,0, 0.3);
    background-color: #555;
}
/*Fim Portflio*/


/*Sobre*/
#sobre{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0,0,0, 0.9)), url("../img/sobre.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#sobre h2{
    margin-bottom: 20px;
    color: white;
}


#sobre p{
    width: 70%;
    color: white;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 12px;
    font-size: 1em;
}
/*Fim Sobre*/


/*Habilidades*/
#container-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 10px 0px 10px;
}

#container-skills #skills{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

#container-skills h2{
    margin-bottom: 20px;
}

.icones{
    width: 30%;
    display: flex;
    flex-direction: column; 
    border-radius: 15px;
    padding: 20px;
  
}

#skills .icones h2{
    font-size: 20px;
    margin-bottom: 0px;
}

#skills .icones p{
    line-height: 25px;
    font-size: 18px;
}

#container-skills .icones img{
    width: 100%;
    height: 150px;
    display: flex;
}
/*Fim Habilidades*/

/*Contato*/

#contato{
    height: max-content;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0,0,0, 0.9)), url("../img/sobre.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px;
   
}

#contato h2{
    color: white;
}

#contato p{
    color: #cccccc;
    margin-bottom: 30px;
    margin-top: 0.5em;
    font-size: 1.2em;
}

#contato #icones{
    width: max-content;
    display: flex;
    margin: 0 auto;
}

#contato #icones img{
    width: 3rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
}

#contato #icones img:hover{
    background-color: black;
}

footer{
    padding: 20px;
}

footer p{   
    font-weight: 100;
    font-size: 18px;
    color: #888888;
    margin: 0px;
}


/*Responsividade*/

    
    @media screen and (max-width: 1024px){

    

    }

    @media screen and (max-width: 599px){

        header{
            height: 70px;
        }

        #apresentacao p{
            line-height: 1.5em;
            margin-bottom: 1em;
        }

        #apresentacao button{
            margin-bottom: 15em;
        }

        #container-portflio{
           padding: 40px;
        }

        #container-portflio p{
            width: 90%;
            line-height: 1.5em;
            text-align: justify;
            text-align-last: center;
            font-size: 0.9em;
            word-spacing: 0px;
        }

        #sites{
            flex-direction: column;
            align-items: center;
            height: 68em;
        }

        .portflio{
            width: 100%; 
        }

    
        #sobre p{
            width: 90%;
            text-align: justify;
            text-align-last: center;
            font-size: em;
            word-spacing: 0px;
            
        }

       
        #skills{
            flex-direction: column;
        }

        #skills .icones{
            width: 100%;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 1000px){

        header{
            width: 25em;
        }
        
        nav{
            width: 15em;
        }

       
        #container-portflio p{
            line-height: 1.5em;
            font-size: 1.0em;
        }

        

        #sobre p{
            text-align: justify;
            text-align-last: center;
            font-size: 1.0em;
            word-spacing: 0px;
        }

       
        #container-skills #skills
        {   
            width: 100%;
            margin-bottom: 20px;
        }

    
        #skills .icones p{
            margin: 0px;
            font-size: 0.9em;
            line-height: 1.3em;
        }


    }

    @media screen and (min-width: 600px) and (max-width: 1024px){ 
        
        #container-portflio{
            padding: 40px 20px;
        }
        #sites{
            width: 90%;
           
            margin: 0px;
            justify-content: space-between;
           align-self: center;
            
        }
    
        #sites .portflio{
            width: 100%;
            height: 15em;
            ;
            margin: 10px;
        }

    }
   
    @media screen and (max-width:300px){
      
        #container-header{
            height: 40em;
        }
        #apresentacao{
           justify-content: space-around;
           
        }

        #apresentacao h1{
            width: 100%;
            font-size: 5em;
        }

        #container-portflio p{
            width: 100%;
            font-size: 1em;
            word-spacing: 0px;
            text-align: center;
        }

        #sobre p{

            text-align: center;
            word-spacing: 0;
            font-size: 0.9em;
            display: inline;
            word-wrap: normal;
        }

       
    }
